html {
	font:16px/18px "Open Sans","Helvetica Neue","Helvetica",sans-serif;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: transparent;
	text-shadow: 0 0 0.5px #000;
}

#content{
	text-align: center;
	margin: 40px;
	h1 {
		margin: 15px;
	}

	p {
		margin: 9px;
	}
}

#footer {
	text-align: center;
	bottom: 0em;

	a {
		font-size: 0.9em;
	}

}
