html {
	font:16px/18px "Open Sans","Helvetica Neue","Helvetica",sans-serif;
}

#content{
	text-align: center;
	margin: 30px;
	h1 {
		margin: 15px;
	}

	p {
		margin: 9px;
		a:link {
			text-decoration: none;
		}

		a:visited {
			text-decoration: none;
		}

		a:hover {
			color: transparent;
			text-shadow: 0 0 0.5px #000;
		}
	}
}
